<!DOCTYPE html>
<html lang="en">

<head>

  <title>Jonathan Ankiewicz</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jquery cdn -->
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="application.js" type="text/javascript" charset="utf-8" async defer></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script type="text/javascript" src="js/parallax.min.js"></script>
  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- waypoints -->
  <script src="jquery.waypoints.min.js" type="text/javascript" charset="utf-8" async defer></script>

  <!-- social side bar links -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- STYLE SHEET -->
  <link rel="stylesheet" type="text/css" href="css/index.css">


</head>




<!-- NAVBAR
  ================================================== -->

<body>

  <div class="mobileGreetings">
    <div class="iAm">Hi, I'am</div>
    <table class="welcomeNotecol-md-offset-1">
      <tbody>
        <tr>
          <td align="left" width="20" class="topLeftBorder"></td>
          <td align="left" width="70"></td>
          <td align="left" class="topBorder"></td>
          <td align="left" class="topRightBorder"></td>
        </tr>
        <tr>
          <td colspan="4" class="welcomeFromMe">
              <p class="welcomeFromMeText">
                JONATHAN
              </p>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="bottomBorder"></td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Hero Image area -->
  <div id="heroBackground" class="container" >
    <div class="row">

      <div class="greetings">
        <div class="iAm">Hi, I'am</div>
        <table class="welcomeNotecol-md-offset-1">
          <tbody>
            <tr>
              <td align="left" width="20" class="topLeftBorder"></td>
              <td align="left" width="70"></td>
              <td align="left" class="topBorder"></td>
              <td align="left" class="topRightBorder"></td>
            </tr>
            <tr>
              <td colspan="4" class="welcomeFromMe">JONATHAN</td>
            </tr>
            <tr>
              <td colspan="4" class="bottomBorder"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  <!-- close of hero image area -->

  <!-- <div class="container"> -->
  <!-- body area  area -->

  <div class="container">
    <div class="row titleSection">
      <div class="greyTriangle"></div>
      <div class="titlebox col-md-7">
        <span class="frontEnd">FRONT-END</span> <br/>
        <span class="developer"><strong>DEVELOPER</strong></span> <br/>
        <span class="designer"><strong>DESIGNER</strong></span>
      </div>
    </div>


  </div>


  <div class="container">
    <div class="row">
      <div class="bodyCopy col-sm-6 ">
          <div class="col-md-10 col-md-offset-1">
            <p>
              I love designing and coding. I work in Silicon Valley as a Front-end Web and HTML Email Developer. I have authored a book available on Amazon, Simple and Fit. I am a veteran of the US Marine Corps.
            </p>

            <p>
              Coding is my life!! and developing yay!
            </p>
          </div>
      </div>
      <div class="skills col-sm-6">
        <ul>
          <li>BRANDING</li>
          <li>WEB PAGES</li>
          <li>USER FLOW</li>
          <li>HTML EMAILS</li>
          <li>PRINT DESIGN</li>
          <li>UX/UI DESIGN</li>
          <li>MOBILE DESIGN</li>
          <li>PHOTOGRAPHY</li>
          <li>DIGITAL IMAGING</li>
          <li>DIGITAL RETOUCHING</li>
          <li>GOOGLE WEB DESIGNER</li>
          <li>RESPONSIVE DESIGN/DEVELOPMENT</li>
          <li class="mySkillslocation">
            <span class="myLabel"><strong>MY</strong></span>
            <span class="mySkillsLabel">SKILLS</span>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <div class="space"></div>


  <!-- contact form area and video area -->
  <div id="heroBackgroundContactArea" class="container">
    <div class="row">

      <div class="col-sm-6 videoZone">
        <div class="col-md-10 col-md-offset-1">
        <h3>RECENT ART SHOW SUBMISSION</h3>

        <p>This video has been submitted to the Academy of Art Spring Show by a teacher.</p>
      </div>
    </div>

      <div class="col-sm-6 formZone">


        <form>


          <div class="formlabelContact ">
            <div class="contactMeLocation">
              <span class="contactMeLabel">CONTACT</span>
              <span class="contactMe"><strong>ME</strong></span>
            </div>
          </div>



          <div class=" formBottomPad">
            <!-- form input name -->
            <div class="formInput">
              <div class="formLabel">NAME</div>
              <table class="welcomeNote">
                <tbody>
                  <tr>
                    <td align="left" width="20" class="topLeftBorder"></td>
                    <td align="left" width="70"></td>
                    <td align="left" class="topBorder"></td>
                    <td align="left" class="topRightBorder"></td>
                  </tr>
                  <tr>
                    <td colspan="4" class="welcomeFromMe">
                      <input type="name">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="bottomBorder"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- form input name -->
            <!-- </div> -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">EMAIL</div>
                <table class="welcomeNote">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="70"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe">
                        <input type="name">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">PHONE</div>
                <table class="welcomeNote">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="70"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe">
                        <input type="name">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">MESSAGE</div>
                <table class="welcomeNote">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="100"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe">
                        <input type="name">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">THANK&nbsp;YOU</div>
                <table class="welcomeNote submitCell">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="120"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe submitCell">
                        <input type="submit" value="SUBMIT"> </input>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
        </form>
        <!-- </div> end of form section right side -->


        </div>
      </div>


</body>

</html>
