<!DOCTYPE html>
<html lang="en">

<head>

  <title>Jonathan Ankiewicz</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script type="text/javascript" src="js/parallax.min.js"></script>
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!-- waypoints -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" type="text/javascript" charset="utf-8" async defer></script>

  <!-- social side bar links -->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


  <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>
  <!-- STYLE SHEET -->
  <link rel="stylesheet" type="text/css" href="css/index.css">


</head>




<!-- NAVBAR
  ================================================== -->

<body>

  <div class="mobileGreetings">
    <div class="iAm">Hi, I'am</div>
    <table class="welcomeNotecol-md-offset-1">
      <tbody>
        <tr>
          <td align="left" width="20" class="topLeftBorder"></td>
          <td align="left" width="70"></td>
          <td align="left" class="topBorder"></td>
          <td align="left" class="topRightBorder"></td>
        </tr>
        <tr>
          <td colspan="4" class="welcomeFromMe">
              <p class="welcomeFromMeText">
                JONATHAN
              </p>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="bottomBorder"></td>
        </tr>
      </tbody>
    </table>
    <div class="diffMe">
      <div class="businessMe">
            Business
      </div>
      <div class="geekMe checked">
            Geek
      </div>
    </div>
  </div>


  <!-- Hero Image area -->
  <div id="heroBackground" class="container" >
    <div class="row">

      <div class="greetings">
        <div class="iAm">Hi, I am</div>
        <table class="welcomeNotecol-md-offset-1">
          <tbody>
            <tr>
              <td align="left" width="20" class="topLeftBorder"></td>
              <td align="left" width="70"></td>
              <td align="left" class="topBorder"></td>
              <td align="left" class="topRightBorder"></td>
            </tr>
            <tr>
              <td colspan="4" class="welcomeFromMe">JONATHAN</td>
            </tr>
            <tr>
              <td colspan="4" class="bottomBorder"></td>
            </tr>
          </tbody>
        </table>
        <div class="diffMe">
          <div class="businessMe">
                Business
          </div>
          <div class="geekMe checked">
                Geek
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- close of hero image area -->

  <!-- <div class="container"> -->
  <!-- body area  area -->

  <div class="container">
    <div class="row titleSection">
      <div class="greyTriangle"></div>
      <div class="titlebox col-md-7">
        <span class="frontEnd">FRONT-END</span> <br/>
        <span class="developer"><strong>DEVELOPER</strong></span> <br/>
        <span class="designer"><strong>DESIGNER</strong></span>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="bodyCopy col-sm-6 ">
          <div class="col-md-10 col-md-offset-1">
            <p>
              I love designing and coding. I work in Silicon Valley as a Front-end Web and HTML Email Developer. I have authored a book available on Amazon, Simple and Fit. I am a veteran of the US Marine Corps.
            </p>
            <p>
              Coding is my life!! and developing every more every!
            </p>
          </div>
      </div>
      <div class="skills col-sm-6">
        <ul>
          <li>BRANDING</li>
          <li>WEB PAGES</li>
          <li>USER FLOW</li>
          <li>HTML EMAILS</li>
          <li>PRINT DESIGN</li>
          <li>UX/UI DESIGN</li>
          <li>MOBILE DESIGN</li>
          <li>PHOTOGRAPHY</li>
          <li>DIGITAL IMAGING</li>
          <li>DIGITAL RETOUCHING</li>
          <li>GOOGLE WEB DESIGNER</li>
          <li>RESPONSIVE DESIGN/DEVELOPMENT</li>
          <li class="mySkillslocation">
            <span class="myLabel"><strong>MY</strong></span>
            <span class="mySkillsLabel">SKILLS</span>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="space"></div>
  <div class="infoGraphics">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 infographicSkillsection">
        <h2>MY SWEET SKILLS</h2>
        <h4>Improvise, Adapt and Overcome</h4>
          <p class="smallNotes">Here is a bunch of data that can't be measured. In a field like this everything is changing so fast,<br/> you would spend more time testing then adapting if you actually tried to measure it.</p>
        <div id="infographicSkills"></div>


        <form class="infographicSkillsform">

            <input type="radio" data-type="dataset" name="dataset" id="dataset" value="total" class="checked" checked>
            <label for="dataset">CODING</label>

            <input type="radio" data-type="dataset" name="dataset" id="dataset1" value="option1">
            <label for="dataset1">DESIGN</label>

            <input type="radio" data-type="dataset" name="dataset" id="dataset2" value="option2">
            <label for="dataset2">ADVERTISING</label>

            <input type="radio" data-type="dataset" name="dataset" id="dataset3" value="option3">
            <label for="dataset3">AS A PERSON</label>

        </form>
        <p class="smallNotes"><a href="https://d3js.org/">D3.js Data Visualization</a> example, not some cheese plugin,<br/> D3 gives me real freedom to display the data  </p>
        <!-- based off <a href="https://bl.ocks.org/juan-cb/1984c7f2b446fffeedde">juancb’s Block</a> example -->
      </div>
    </div>
  </div>


  <div class="space"></div>

<div class="goals">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>



<div class="space"></div>
<section id="sliderSectionSection">
<div class="slider">
    <div class="slidingSection">
        <div class="slideOne">
            <div class="row">
                <div class="col-md-10 ">
                      <img class="scoreboardApp" src="http://www.new.jpankiewicz.com/images/scoreboard.png" alt="Scoreboard React App">
                      <div class="scoreboardSnippet">
                        <h1>React.js Application</h1>
                        <p>Here is an a scoreboard application built on a React.js frame work.</p>
                        <a href="/scoreboard" class="scoreboardBtn buttn"> CHECK IT OUT</a>
                      </div>
                </div>
            </div>
        </div>
        <div class="slideTwo">
            <div class="row">
               <div class="col-md-6 col-md-offset-3">
                    <h2>Meet our speakers</h2>
                    <div class="row">
                        <div class="col-sm-5">
                            <img  class="speaker" src="http://pages.auction.com/rs/596-OAU-791/images/casper-stephanie_.png" alt="Stephanie Casper">
                        </div>
                        <div class="col-sm-7 speakerBio">
                            <h4>Stephanie Casper</h4>
                            <p>
                                Vice President,<br/>
                                Head of Bridge Lending at <br class="insertOnMobile"/>Colony American Finance
                            </p>
                            <p>
                                Stephanie is responsible for managing the underwriting, closing, and funding for CAF’s Bridge business.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


  <div class="space"></div>

  <!-- contact form area and video area -->
  <div id="heroBackgroundContactArea" class="container">
    <div class="row">

      <div class="col-sm-6 videoZone">
        <div class="col-md-10 col-md-offset-1">
          <img class="adDrop" src="http://www.new.jpankiewicz.com/images/Jeep_2014_comp-01.svg" alt="Advertising Art Director">
        <p class="smallNotes">This is a small grab from an Jeep ad campaign</p>
      </div>
    </div>

      <div class="col-sm-6 formZone">

        <form id="formSection">
          <div class="formlabelContact ">
            <div class="contactMeLocation">
              <span class="contactMeLabel">CONTACT</span>
              <span class="contactMe"><strong>ME</strong></span>
            </div>
          </div>

          <div class=" formBottomPad">
            <!-- form input name -->
            <div class="formInput">
              <div class="formLabel">NAME</div>
              <table class="welcomeNote">
                <tbody>
                  <tr>
                    <td align="left" width="20" class="topLeftBorder"></td>
                    <td align="left" width="70"></td>
                    <td align="left" class="topBorder"></td>
                    <td align="left" class="topRightBorder"></td>
                  </tr>
                  <tr>
                    <td colspan="4" class="welcomeFromMe">
                      <input type="name">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="bottomBorder"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- form input name -->
            <!-- </div> -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">EMAIL</div>
                <table class="welcomeNote">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="70"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe">
                        <input type="name">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">PHONE</div>
                <table class="welcomeNote">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="70"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe">
                        <input type="name">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">MESSAGE</div>
                <table class="welcomeNote">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="100"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe">
                        <input type="name">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
            <div class=" formBottomPad">
              <!-- form input name -->
              <div class="formInput1">
                <div class="formLabel">THANK&nbsp;YOU</div>
                <table class="welcomeNote submitCell">
                  <tbody>
                    <tr>
                      <td align="left" width="20" class="topLeftBorder"></td>
                      <td align="left" width="120"></td>
                      <td align="left" class="topBorder"></td>
                      <td align="left" class="topRightBorder"></td>
                    </tr>
                    <tr>
                      <td colspan="4" class="welcomeFromMe submitCell">
                        <input type="submit" value="SUBMIT"> </input>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="bottomBorder"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- form input name -->
        </form>
        <!-- </div> end of form section right side -->
        </div>
      </div>

        <script type="text/javascript" src="/js/portfolio.js"></script>
        <script type="text/javascript" src="/js/infographics.js"></script>

        <script>
            $('.businessMe').on('click', function(){
              $('#heroBackground').css('background-image', 'url("../img/business_sidev1.jpg")');
              $('#heroBackground').css('background-repeat', 'no-repeat');
              $('#heroBackground').css('background-position', 'center');
              $('.diffMe div').removeClass('checked');
              $('.businessMe').addClass('checked')
            });
            $('.geekMe').on('click', function(){
              $('#heroBackground').css('background-image', 'url("../img/geek_sidev1.jpg")');
              $('#heroBackground').css('background-repeat', 'no-repeat');
              $('#heroBackground').css('background-position', 'center');
              $('.diffMe div').removeClass('checked');
              $('.geekMe').addClass('checked')
            });
        </script>
</body>

</html>


<!-- personal note about good stuff to have on aportfolio - react, canvas, something used by other people (an open source project), animation, modules for other projects, lessons explaining something - lots of different things can work-->
