<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ankiewicz Marketing</title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/resets.css">
  <link rel="stylesheet" type="text/css" href="css/animation.min.css">
  <link rel="stylesheet" type="text/css" href="css/marketingCSS.css">
  <link rel="icon" type="image/png" href="#">

  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>
<!-- side bar popout -->

 <% include ./partials/header %>
 <body >


  <section class="hero delay-1s fadeInDown " >
        <img src="http://new.jpankiewicz.com/images/marketing-Hero.jpg" alt="Fully Responsive">
        <!-- Currently No content -->
  </section>


  <section class="section1  wp1">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-1 delay-05s  wp1">
          <div class="textPaddingSection" id="section-1-left" >
            <h2>Web and HTML Email Development</h2>
            <p>
                I graduated the Academy of Art University with two seperate degrees, Web Design and New Media and Advertising Art Director. I feel in love with coding as it seems to be one of the few things in this world that can calm my hyperactive mind. My wife isn't a fan but I can easily disappear behind a computer for hours and sometimes days.
            </p>
            <p>
                This page is my design but the work rendered here is design work of another designer. I was the developer who brought these beautiful designs to real life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>





  <section class="section2 wp2" >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6   col-sm-push-6 col-md-push-6  delay-05s wp2a ">
          <div class="textPaddingSection">
            <h2>
              ALWAYS RESPONSIVE<br/>
              MOBILE <span style="font-size:32px;"> &#8594;</span> DESKTOP
            </h2>
            <h3>WEARABLE | MOBILE | DESKTOP | TV</h3>
            <p>
                I was lucky enough to begin my development and design  career at the beginning of the mobile responsive era. I was taught if it's not responsive then it's not built right. With more then 55% of internet track being conducted on mobile, being able to give the best experience no matter the device is key for any modern developer.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6  col-sm-pull-6 col-md-pull-6  delay-05s wp2a" >
          <div class="" id="section-2-left">
            <img class="mobilePhoneImage" src="http://new.jpankiewicz.com/images/screencapture-pages-tenx-10xs_dedicated_sell_wc_2016_04_dedicated-sell-html-1485141082835.png" alt="The Right Agent Cell Phone">
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="section3 section_no_low_padding wp3">
    <div class="container">
      <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1    delay-05s wp3">
          <div class="textPaddingSection" id="section-3-center" >
            <h2>EVERY EMAIL IS BUILT RESPONSIVE AND CLICKBALE</h2>
            <p>
                I joined Auction.com/Ten-X never having touched HTML emails before. Within 6 months of being hired, I was promoted to Senior Web and Email developer. Within the year being the sole email developer in the entire company, I managed to sweep through the company and rewrite 95% of company. Taking transicational emails, marekting emails, HR external/internal emails, product action emails and more from non responsive and out of brand to fully responsive and on point with the current branding. This was well over 175 reoccuring emails. I was able to do this while maintaining the standard marketing output.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section4 section-padding   wp4">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-md-7    delay-05s wp4a">
          <div class="textPaddingSection" id="section-4-left" >
            <h2>GIT A VERSION OF MY EMAIL MASTER TEMPLATE</h2>
            <p>
                I was able to do this by developing a cut and paste template(converted into snippets) that sped my email development abilities from days to hours. My current personal record is 16 Marketing emails completed in a day.
            </p>
            <p>
                Please feel free to check out my basic Master Template, it's available for the world to use at my github repo.
            </p>
            <p>
              <!-- Place this tag where you want the button to render. -->
              <a class="github-button" href="https://github.com/Ankiewicz/HTML-Email-Library-Template/subscription" data-icon="octicon-eye" data-style="mega" data-count-href="/Ankiewicz/HTML-Email-Library-Template/watchers" data-count-api="/repos/Ankiewicz/HTML-Email-Library-Template#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch Ankiewicz/HTML-Email-Library-Template on GitHub">Watch my Repo</a>

              <!-- Place this tag where you want the button to render. -->
              <a class="github-button" href="https://github.com/Ankiewicz" data-style="mega" data-count-href="/Ankiewicz/followers" data-count-api="/users/Ankiewicz#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @Ankiewicz on GitHub">Follow @Ankiewicz</a>
            </p>
          </div>
        </div>
        <div class="col-sm-5 col-md-5     delay-05s wp4b " >
          <div  id="section-3-right" >
            <img class="mobilePhoneImage"  width="100%" src="http://new.jpankiewicz.com/images/emailsv1.png" alt="Discover Phone">
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section5 section_no_low_padding  delay-05s wp5" >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-sm-push-6 col-md-push-6  delay-1s wp5">
          <div class="textPaddingSection" id="section-5-left" >
            <h2>MARKETING TOOLS</h2>
            <p>
                Building marketing tools and widgets utilizing Javascript, HTML5 and CSS3. Building calculators popup modals that capture form data endless surveries and more... I love building helpful new and cool things that User can interact with that help benefit the business and the Users.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-md-pull-6 col-sm-pull-6  delay-1s  wp5a" >
          <div  id="section-5-right" >
            <img src="http://new.jpankiewicz.com/images/marketing-toolsv1.png" alt="marketing tools">

          </div>
        </div>
      </div>
      <div class="row delay-05s  wp5a">
        <div class="col-md-12">
          <img class="scoreboardAppPopUp" src="http://www.new.jpankiewicz.com/images/pop-up.png" alt="Marketing Pop up modal">
        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- Footer -->
  <footer>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>

  <script>

    /***************** Waypoints ******************/

    // $(document).ready(function() {


      $('.wp1').waypoint(function() {
        $('.wp1').addClass('animated fadeInLeft');
        $('.wp1a').addClass('animated fadeInRight');
      }, {
        offset: '75%'
      });
      $('.wp2').waypoint(function() {
        $('.wp2a').addClass('animated fadeInUp');
      }, {
        offset: '75%'
      });
      $('.wp3').waypoint(function() {
        $('.wp3').addClass('animated fadeInLeft');
        $('.wp3a').addClass('animated fadeInRight');
      }, {
        offset: '55%'
      });
      $('.wp4').waypoint(function() {
        $('.wp4a').addClass('animated fadeInLeft');
        $('.wp4b').addClass('animated fadeInRight');
      }, {
        offset: '55%'
      });
      $('.wp5').waypoint(function() {
        $('.wp5').addClass('animated fadeInLeft');
        $('.wp5a').addClass('animated fadeInRight');
      }, {
        offset: '55%'
      });
      $('.wp6').waypoint(function() {
        $('.wp6a').addClass('animated fadeInUp');
      }, {
        offset: '55%'
      });
      $('.wp7').waypoint(function() {
        $('.wp7').addClass('animated fadeInLeft');
        $('.wp7a').addClass('animated fadeInRight');
      }, {
        offset: '55%'
      });



      $('body').waypoint(function(direction) {
        if (direction == 'down') {
          $('.Mynavbar').addClass('sticky');
        } else {
          $('.Mynavbar').removeClass('sticky');
        }
      }, {
        offset: '-10'
      });

      // side bar script

      function toggleSlider() {
        // $('.Mynavbar').toggleClass('safarifix');
        $('body').toggleClass('slided');
        $('aside').toggleClass('slidedside');
        $('.overlay').toggleClass('overlayOn');

        $('.burger').toggleClass('activeBurger')
      };

      $('.mobileAdd').click(function(event) {
        /* Act on the event */
        event.preventDefault();
        console.log("mobileAdd clicked")
        toggleSlider();
      });

      $('.overlay').click(function(event) {
        /* Act on the event */
        toggleSlider();
      });

      $('.icon-cancel').click(function(event) {
        /* Act on the event */
        toggleSlider();
      });


    // });
  </script>


</body>

</html>
