
  /* ==========================================================================
Global Styles
========================================================================== */
  .octicon{
    position: relative;
    top:4px;
    left: 5px;
    margin-right: 5px;
  }
  a {
    color: #F89827;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  a:hover,
  a:focus {
    color: #F89827;
    opacity: .8;
    text-decoration: none;
  }
  .headerbar a {
      line-height: 28px;
  }
  p
  .headerbar #logo:hover
  {
      color:#f2f2f2;
      -webkit-transform:scale(1.1);
      transform: scale(1.1);
  }
  .headerbar a:hover {
      color:#f2f2f2;
      -webkit-transform:scale(1.3);
      transform: scale(1.3);
  }
  p {
    color: #8c9398;
    word-spacing: 1px;
    line-height: 30px;
    font-size: 14px;
    font-weight: lighter;
  }

  .section-padding {
    padding: 45px 0px;
    background: #eee;
  }
  .section_no_low_padding {
    padding: 45px 0px 0px 0px;
  }

  .wrapper {
    height: 650px;
  }

  .nopadding {
    padding: 0;
  }

  .inner {
    padding-top: 170px;
  }


  /* ==========================================================================
iPhone Section
========================================================================== */

  .iphone {
    width: 50%;
    background: #f3f5f8;
    float: left;
    height: 100%;
    box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset -15px -11px 40px -6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }



  /* ==========================================================================
Team
========================================================================== */

  .team img {
    margin-bottom: 40px;
  }

  ul.social-buttons {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
  }

  ul.social-buttons li {
    display: inline-block;
    margin-right: 15px;
    border: 1px solid #fff;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }

  ul.social-buttons li:last-child {
    margin-right: 0;
  }

  .social-btn {
    width: 40px;
    height: 40px;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    /*background: #242830;*/
    display: inline-block;
    color: #999;
    font-size: 20px;
    margin-left: -1px;
    line-height: 40px;
    text-align: center;
  }

  ul.social-buttons li:hover,
  ul.social-buttons li:focus {
    /*background: #242830;*/
    border: 1px solid #999;
    color: #888;
    -webkit-transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
  }

  ul.social-buttons li:hover .social-btn {
    color: #888;
  }

  .social {
    margin-top: 25px
  }

  /* ==========================================================================
Footer  background-color: #242830;
========================================================================== */

  footer a {
    color: #a1a9b0;
  }

  footer {
    background-color: #fff;
    padding: 40px 0 30px;
    border-top: 1px solid #f3f5f8;
  }

  footer p {
    color: #fff;
  }

  ul.legals {
    list-style: none;
    color: #fff;
    line-height: 25px;
    padding-left: 0px;
    margin: 15px 0 0 0;
  }

  ul.legals li {
    display: inline-block;
    padding-right: 15px;
    font-size: 12px;
  }
  /*    ul.legals li::after {
      content: " |";
  }
  */

  ul.legals li:last-child::after {
    content: "";
  }

  ul.legals li:first-child::after {
    content: "";
  }

  .legals {
    text-align: left;
  }

  .credit {
    text-align: right;
  }
  /* ==========================================================================
FlexSlider Custom CSS
========================================================================== */

  #servicesSlider {
    margin-top: 70px;
  }

  ul.slides li {
    margin-bottom: 20px;
  }
  /* ==========================================================================
Waypoints
========================================================================== */

  .wp1,
  .wp2a,
  .wp3,
  .wp4a,
  .wp4b,
  .wp5,
  .wp6a,
  .wp7 {
    visibility: hidden;
  }

  .bounceInLeft,
  .bounceInRight,
  .fadeInUp,
  .fadeInUpDelay,
  .fadeInDown,
  .fadeInUpD,
  .fadeInLeft,
  .fadeInRight {
    visibility: visible;
  }

  .delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }

  .delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }


  header {
    background:rgba(248, 152, 39, 0.7);
    display: block;
    padding: 10px 0;
  }

  .hero img{
    width: 100%;
  }
  .hero {
    /*background:url('http://new.jpankiewicz.com/images/marketing-Hero.jpg') no-repeat top center  ;*/
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    /*background-size:  auto 100% ;*/
    /*padding:65px 0;*/
    height:auto;
    position:relative;
  }

  .hero h1 {
    font-size: 35px;
    margin: 5px 0;
    color: #fff;
    font-weight: 100;

  }

  .hero p {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;

  }


  .hero-box {
    box-sizing: border-box;
    background: rgba(0, 0, 0, .85);
    padding: 15px;
  }

  .hero-box h1 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin: 5px 0px 5px 0px;
    font-weight: 500 !important;
    text-shadow: none;
  }

  .hero-box p {
    font-size: 14px;
    color: #fff;
    margin: 0;
    text-shadow: none;
    line-height: 20px;
  }

  .hero-form-box {
    box-sizing: border-box;
    padding: 15px;
    color:#fff;
    text-align: center;
  }

  .hero-form-box h1 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    line-height: 44px;
    margin: 5px 0px 15px 0px;
    font-weight: 500 !important;
  }

  .hero-form-box p {
    font-size: 14px;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 27px;
  }

  .hero-form-box .subText{
    font-size: 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 14px;
    text-align: center;
    padding-top: 25px;
  }
  .sidebar {
    box-sizing: border-box;
    background: #f3f5f8;
    padding: 15px;
  }

  .sidebar h1 {
    font-size: 24px;
    line-height: 24px;
    color: #353535;
    margin: 0px 0px 8px 0px;
  }

  .sidebar h2 {
    font-size: 24px;
    line-height: 24px;
    color: #353535;
    margin: 0px 0px 8px 0px;
  }

  .sidebar h3 {
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
    color: #353535;
    margin: 0px 0px 8px 0px;
  }

/**********
active hamburger
**************/

.activeBurger{
  transform: rotate(45deg);
  margin-top: -7px;
}
.activeBurger:nth-child(2){
  transform: rotate(-45deg);
  margin-top: -7px;
}
.activeBurger:nth-child(3){
  opacity: 0;
}


/************
Octagon
*************/

/********
Section styles
**********/
  section h1 {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
  }
  section h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: left;
    color:#F89827;
  }
  section p{
    font-size: 16px;
    color: #565151;
    line-height: 34px;
    font-weight: lighter;
  }

  .section3 p{
    font-size: 14px;
  }
  .mobilePhoneImage{
    max-height: 590px;
    width: auto;
  }
  .textPaddingSection{
    /*padding-top: 30px;*/
  }
  .auction-logo {
    background: url('https://cdn.mlhdocs.com/adc_cms/images/ADClogo-white-1.svg') no-repeat;
    background-size: contain;
    height: 50px;
    display: block;
  }
  /***************
  Section2
  **************/

  .section2{
    background-color: #eee;
      -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 85%, 100% 95%, 100% 12%);
      padding: 80px 0px 50px 0px;
  }

  .section2 h3{
    text-align: center;
  }
 #section-2-left{
   padding-bottom: 50px;
 }
  .section3{
        margin-top: -50px;
        padding-bottom: 80px;
  }


  .section4{
        -webkit-clip-path:polygon(0% 0%, 0% 92%, 100% 100%, 100% 0%, 0% 10%);
  }

  #section-4-left{
    padding-top: 120px;
  }
  /***************
  Section5
  **************/
#section-5-right {
  padding-top: 70px;
  }
#section-5-left{
  }
#section-5-right img{

}
.scoreboardAppPopUp{
  margin-bottom:30px;
  margin-top:30px;
}
/******************************/
/*Side Nav */
/******************************/
aside {
  width: 300px;
  background: #fff;
  position: absolute;
  left: -260px;
  z-index: 9999;
}
.slidedside {
  width: 300px;
  background: #fff;
  position: fixed;
  left: 0px;
  z-index: 99999;
  opacity: 1;
  -webkit-transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
  transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
}
.slided {
  position: absolute;
  left: 260px;
  z-index: -999;
  padding: 0!important;
  margin: 0!important;
  overflow: hidden;
}
.overlay {
  background: rgba(0, 0, 0, .0);
  width: 0;
  height: 0;
  -webkit-transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
  transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26);
}
.overlayOn {
  display: block!important;
  position: fixed;
  margin-top: -20px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 9999;
  cursor: pointer;
}
.icon-cancel {
  font-size: 28px;
  font-weight: bold;
  color: #666;
  float: right;
  padding: 15px;
}
.slideNavContent {
  position: absolute;
  padding: 10px;
  margin-top: -70px;
  width: 100%;
  text-transform: uppercase;
}
nav ul {
  margin-top: 40px;
}
nav ul li {
  padding: 20px 0 0 0;
}
nav ul li:first-child {
  padding: 80px 0 0 0;
}

nav ul li a {
  color: #666;
  font-size: 1em;
}
.copyWRSide {
  color: #666;
  font-size: .7em;
}
.closeButton {
  width: 30px;
  height: 30px;
  margin-left: 220px;
  margin-top: -20px;
}
.toggleOff {
  display: block;
}

/************
icon
*************/
.icon{
  width:102px;
  height: 102px;
}


footer {
    border-top: 2px solid #eee;
}


/******************************/
/*Media queries*/
/******************************/

@media only screen and (max-width: 768px) {
    #mobileDrop1{
        display: none!important;
    }
        #mobileDrop2{
        display: none!important;
    }

    #mobileDrop3{
        display: none!important;
    }

    .mobileAdd{
        display:block!important;
        padding: 5px;
        vertical-align: middle;
        align-self: center;
        /*border:1px solid #eee;*/
    }
    .mobileAdd:hover{
        /*border:1px solid #999;*/
        color: #999;
    }
    .hero {
      background-size:  100% auto ;
      margin-top:78px;
    }

    .band{
      margin-bottom: 0px;
    }
    .container {
      width: 100%;
    }
    .mobilePhoneImage{
      width: 100%;
      max-height: inherit;
    }
    .section2{
        -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 92%, 100% 95%, 100% 5%);
    }
    .section4{
          -webkit-clip-path:polygon(0% 0%, 0% 97%, 100% 100%, 100% 0%, 0% 3%);
    }
    #section-4-left {
    padding-top: 60px;
    }
    .textPaddingSection {
        padding-top: 0px;
    }

}






/* --------------------------------

  MEDIA QUERIES

-------------------------------- */
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 475px) {
  .mobilePhoneImage {
    width: 100%;
  }
}

  /******************
  single column mobilePhoneImage
  ********************/
  section h1,
  section h2,
  section p{
    text-align: center;
  }
  .mobilePhoneImage,
  .icon{
    text-align: center;
    margin: 0 auto;
    text-align: center;
  }
  .textPaddingSection{
    padding-top: 30px;
  }
}
