
.r3c1box1Div{
  position: absolute;
  top: 155px;
  left: 15px;
  z-index: 9;
  width: 33.33%;
  float: left;
}

.r3c1Label1,
.r3c1Label2,
.r3c1Label3{
  position: absolute;
  top: 180px;
  z-index: 99;
  width: 90px;
  height: 90px;
  border-right: 1px solid purple;
}

.r3c1Label1,
.r3c1Label2,
.r3c1Label3{
  visibility: hidden;
}
/* Button display logic*/
.r3c1box1 ~ .r3c1box2 ~ .r3c1Label1 {
  visibility: visible;
}

.r3c1box1:checked ~ .r3c1Label1 {
  visibility: hidden;
}
.r3c1box1:checked ~ .r3c1Label2 {
  visibility: visible;
}

.r3c1box2:checked ~ .r3c1Label1,
.r3c1box2:checked ~ .r3c1Label2  {
  visibility: hidden;
}
.r3c1box2:checked ~ .r3c1Label3 {
  visibility: visible;
}

.r3c1box1:checked ~ .r3c1box1Div:before {
  position: absolute;
  content: 'X';
  /*background: red;*/
  width:70px;
  height: 70px;
  font-size: 90px;
}

.r3c1box2:checked ~ .r3c1box1Div:before {
  position: absolute;
  content: 'O';
  /*background: red;*/
  width:70px;
  height: 70px;
  font-size: 90px;
}
/*************************/
/*MESSAGE QUEUE LOGIC */
/************************/
/*.r3c1box1:checked ~ .response:before {
  content: ' r3c1 Selected as box1 selected X ';
  background: red;
  width:10px;
  height: 10px;
}

.r3c1box2:checked ~ .response:before {
  content: ' r3c1 Selected as box2 selected O ';
  background: red;
  width:10px;
  height: 10px;
}
.r3c1box3:checked ~ .response:before {
  content: ' r3c1 Selected as box3 selected back to empty square';
  background: red;
  width:10px;
  height: 10px;
}*/
